In [1]:
import numpy as np
import pandas as pd
import itertools

def input(filename):
    with open(filename, 'r') as input:
        data = [x.strip() for x in input]

    return data

distances = input('day9.txt')

In [2]:
parsed = []
for d in distances:
    s = d.split()
    s.remove('to')
    s.remove('=')
    parsed.append(s)

In [3]:
stops = [] 
for s in parsed:
    if s[0] not in stops:
        stops.append(s[0])
    if s[1] not in stops:
        stops.append(s[1])

In [4]:
legs = pd.DataFrame(columns = stops, index = stops)

for s in parsed:
    legs.loc[s[0], s[1]] = s[2]
    legs.loc[s[1], s[0]] = s[2]

In [5]:
legs

,Tristram,AlphaCentauri,Snowdin,Tambi,Faerun,Norrath,Straylight,Arbre
Tristram,NaN,34,100,63,108,111,89,132
AlphaCentauri,34,NaN,4,79,44,147,133,74
Snowdin,100,4,NaN,105,95,48,88,7
Tambi,63,79,105,NaN,68,134,107,40
Faerun,108,44,95,68,NaN,11,66,144
Norrath,111,147,48,134,11,NaN,115,135
Straylight,89,133,88,107,66,115,NaN,127
Arbre,132,74,7,40,144,135,127,NaN

In [6]:
x = itertools.permutations(stops)

In [ ]:
legs.loc['Tristram', 'Snowdin']

In [7]:
journeys = {}
for itinerary in x:
    d = 0
    for i, s in enumerate(itinerary):
        if i+1 < len(itinerary):
            d += int(legs.loc[s, itinerary[i+1]])
    journeys[itinerary] = d

In [11]:
max(journeys.values())

898