In [199]:
from datetime import datetime, timedelta

import numpy as np
import pandas as pd

def input(filename):
    with open(filename, 'r') as input:
        data = [x.strip() for x in input]

    return data

records = input('day4.txt')
records.sort()

minutes = pd.DataFrame(np.zeros((1, 60), dtype=int), columns=np.arange(60))
history = pd.DataFrame()

In [154]:
records = [
        '[1518-11-01 00:00] Guard #10 begins shift',
        '[1518-11-01 00:05] falls asleep',
        '[1518-11-01 00:25] wakes up',
        '[1518-11-01 00:30] falls asleep',
        '[1518-11-01 00:55] wakes up',
        '[1518-11-01 23:58] Guard #99 begins shift',
        '[1518-11-02 00:40] falls asleep',
        '[1518-11-02 00:50] wakes up',
        '[1518-11-03 00:05] Guard #10 begins shift',
        '[1518-11-03 00:24] falls asleep',
        '[1518-11-03 00:29] wakes up',
        '[1518-11-04 00:02] Guard #99 begins shift',
        '[1518-11-04 00:36] falls asleep',
        '[1518-11-04 00:46] wakes up',
        '[1518-11-05 00:03] Guard #99 begins shift',
        '[1518-11-05 00:45] falls asleep',
        '[1518-11-05 00:55] wakes up'
    ]

In [200]:
for r in records:
    s = r.split()
    ts = datetime.strptime(' '.join([s[0], s[1]]).strip('[]'), '%Y-%m-%d %H:%M') + timedelta(days=36500 * 5)
    day = pd.Timestamp(ts).round('D').date()
    if 'Guard' in r:
        result = pd.concat([pd.DataFrame([{'day': day, 'ts': ts, 'guard': s[3]}]), minutes], axis=1)
        history = pd.concat([history, result], sort=True)
    if 'falls asleep' in r:
        history.loc[history['day'] == day, list(range(ts.minute, 60))] = 1
    if 'wakes up' in r:
        history.loc[history['day'] == day, list(range(ts.minute, 60))] = 0

In [201]:
# history = history.set_index('day')
history['total'] = history[np.arange(60)].sum(axis=1).astype('uint8')

In [202]:
history.head()

,day,ts,guard,0,1,2,3,4,5,6,...,51,52,53,54,55,56,57,58,59,total
0,2017-09-13,2017-09-12 23:57:00,#3209,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,8
0,2017-09-14,2017-09-13 23:56:00,#751,0,0,0,0,0,0,0,...,0,0,0,1,1,1,0,0,0,3
0,2017-09-15,2017-09-14 23:57:00,#2857,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,23
0,2017-09-16,2017-09-16 00:04:00,#2339,0,0,0,0,0,0,0,...,1,1,1,1,0,0,0,0,0,18
0,2017-09-17,2017-09-17 00:03:00,#523,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,31

In [204]:
summary = history[['day', 'guard', 'total']]
by_guards = history[['guard', 'total']].groupby('guard').sum()
g = by_guards.idxmax()[0]

In [187]:
m

46

In [205]:
guard_minutes = history.loc[history['guard'] == g, np.arange(60)].sum()
m = guard_minutes.idxmax()

In [188]:
print('Part 1\nguard: ' + g + ', minute: ' + str(m))

Part 1
guard: #863, minute: 46

In [206]:
by_minutes = history[['guard', *np.arange(60)]].groupby('guard').sum()
top_minute = by_minutes.max().idxmax()
top_guard = by_minutes[[top_minute]].idxmax().item()

/Users/christalee/Library/Python/3.6/lib/python/site-packages/ipykernel_launcher.py:3: FutureWarning: `item` has been deprecated and will be removed in a future version
  This is separate from the ipykernel package so we can avoid doing imports until

In [190]:
print('Part 2\nguard: ' + top_guard + ', minute: ' + str(top_minute))

Part 2
guard: #373, minute: 40

In [219]:
by_minutes[[40]].idxmax()